apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: backend-deployment 
spec: 
  replicas: 2 
  selector: 
    matchLabels: 
      app: backend 
  template: 
    metadata: 
      labels: 
        app: backend 
    spec: 
      containers: 
        - name: backend 
          image: us-docker.pkg.dev/modern-spirit-475318-r3/bookhive-repo/backend:latest
          ports: 
            - containerPort: 8080 
